<ngx-spinner type="ball-atom"></ngx-spinner>
<div class="container">
    <h1>{{character?.name}}</h1>
    <div class="character">
        <span>
            <img [src]="characterImg" alt="">
        </span>
        <span class="character__description">
            <h2>Description</h2>
            <p>{{ character?.description }}</p>
        </span>
    </div>

    <div class="container__detail">
        <nav>
            <ul>
                <li (click)="navClicked($event)" [ngClass]="{'page-selected': selected ==='comics'}"><h3>comics</h3></li>
                <li (click)="navClicked($event)" [ngClass]="{'page-selected': selected ==='series'}"><h3>series</h3></li>
                <li (click)="navClicked($event)" [ngClass]="{'page-selected': selected ==='events'}"><h3>events</h3></li>
                <li (click)="navClicked($event)" [ngClass]="{'page-selected': selected ==='stories'}"><h3>stories</h3></li>
            </ul>
        </nav>

        <div class="container__element">
            <input type="text" placeholder="Enter a name" [(ngModel)]="filter"/>
        
            <div class="container__comic">
                
                <app-element
                    *ngFor="let element of (elements | marvelFilter: filter)"
                    [element]="element"
                >

                </app-element>

            </div>
            
            <footer>
                <a href="http://marvel.com" [innerText]="attributionText"></a>
            </footer>
        </div>
    </div>

</div>