header{

    background-color: #202020;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-size: larger;

    font-family: 'font-Megrim';

    

    & nav{
        width:50%;
        
    }

    & ul{
        
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;

        & a{
            
            color: white;
            text-decoration: none;
            
        }
    }
    
}

.page-selected{
    text-shadow: 5px 5px 25px yellow, 5px 5px 25px yellow;
    font-weight: bolder;
}

.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    &:hover{
        cursor: pointer;
    }
}

.icon-user-o {
    // width: 0.857421875em;
  }
  