header{

    background-color: #202020;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-size: larger;

    font-family: 'font-Megrim';

    

    & nav{
        width:50%;
        
    }

    & ul{
        
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin: inherit;

        & a{
            
            color: white;
            text-decoration: none;
            
        }
    }
    
}

.page-selected{
    text-shadow: 5px 5px 25px yellow, 5px 5px 25px yellow;
    font-weight: bolder;
}



.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    &:hover{
        cursor: pointer;
    }
}

.modal{
    &-title{
        color: rgb(33, 37, 41);
    }
    &-body{
        color: rgb(33, 37, 41);
    }
    &-footer{
        justify-content: space-between;
    }
}

.password{
    margin-top:1rem;
}

.error, span{
    font-size: small;
    color: red;
}

.loginError{
    padding: 5px;
    text-align: center;
    font-size: medium;
}
  