<ngx-spinner type ="ball-atom"></ngx-spinner>

<div class="character-list">
   
    <app-element
        *ngFor="let element of elements | paginate: {itemsPerPage:20, currentPage:p, totalItems: totalCharacters}"
        [element]="element"
    >

    </app-element>
</div>

<div class="footer">
    <pagination-controls class="pagination-control" 
        (pageChange)="pageChangeEvent($event)"
        autoHide:true
       
        
    ></pagination-controls>
    <footer>
        <a href="http://marvel.com" [innerText]="attributionText"></a>
    </footer>
</div>
