.character-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


// .pagination-control {
//     & li {
//         color:white;
//         & a{
//             color:white;
//         }
//     }
//     color: white;
// }

// .ngx-pagination{
//     color:white;
// }

.footer{
    width:100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    & footer{
        margin: 2% 0;
        

        & a{
            color: #cacaca;
            
            
        }
    }
}

.pagination-control{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    width:100%;
}

