<footer>
    <div class="footer__copyright">Copyright © {{ copyrightYear }}. All rights reserved</div>
    <div class="footer_mailto">Created by <a class="mailto" href="mailto:rafael.basterra@bootcamp-upgrade.com">rbasterra</a></div>
    <div class="footer__icons">
        <svg class="icon icon-facebook"><use xlink:href="../../assets/Icons/symbol-defs.svg#icon-facebook"></use></svg>
        <svg class="icon icon-instagram"><use xlink:href="../../assets/Icons/symbol-defs.svg#icon-instagram"></use></svg>
    </div>
</footer>