/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

*, *::before, *::after{
    box-sizing: content-box;
}

/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: font-Megrim;
    src: url('./assets/Fonts/Megrim-Regular.ttf');

}



body {
    margin:0;
    background-color: black !important;
    color: #cacaca !important;   
    height: 100vh; 
    
}

// .pagination-control .ngx-pagination .current{
//     background-color: red;
//     color:white;
// }

// .ngx-pagination a{
//     color:white;
// }

// .pagination-control{
//     background-color: red;
//     color:white;
// }

.ngx-pagination{
    // background-color: rgb(122, 212, 87);
    color: #cacaca;
}
.ngx-pagination a{
    color:#cacaca;
}
.ngx-pagination li{
    color:#cacaca;
}

.ngx-pagination span{
    color:#cacaca;
}

.pagination-next a{
    color:#cacaca;
}
.current{
    color:#cacaca;
}

app-root{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

